$primary-color: #2c3791;
$secondary-color: #ff6900;
$gradient-plug: linear-gradient(
  45deg,
  #ffe700,
  #fc828e,
  #fa51d3,
  #a188d4,
  #10d9ed,
  #33eca0,
  #46ff47
);

$dot-size: 0.7rem;
$icon-view-size: 45px;

$transition: 0.5s;
